@media screen and (min-width: 991px)
.botonera {
	min-width: 570px;
}


.title-carousel {
    text-align: left;
    margin-bottom: 24px !important;
    margin-top: 48px;
    margin-left: 3%;
}

#title-carousel-product {
    margin: 9px 0 0 0;
    font-size: 25px;
    color: #57504c;
    line-height: 26px;
    text-align: left;
    text-transform: uppercase;
    font-family: Playfair Display,Georgia,serif;
    font-weight: 400; 
}

#pronovias-carousel-product .ps-image {
  width: calc(20% - 16px) !important;
}
#pronovias-carousel-product .ps-image img {
  object-fit: contain;
}
@media screen and (max-width: 425px) {
    #pronovias-carousel-product .ps-image {
      width: calc(100% - 16px) !important;
    }
}

.ps-info {
	position: static !important;
}

.ps-carousel.ps-theme-modern .ps-carousel-slider.ps-slider-horizontal {
	padding-left: 41px !important;
}